body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .App {
  height: 100%;
}

body * {
  font-family: 'Ubuntu';	
}

.icon {
  padding-right: 10px;
}

.cursor {
  color: rgb(212, 31, 31);
}

.container-fluid {
  background: #101111;
  height: 100%;
}

#project-container {
  padding-right: 125px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 576px) {
  #chart-container {
    display: none;
  }

  #project-container {
    padding-right: 0px;
  }
}
