body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .App {
  height: 100%;
}

body * {
  font-family: 'Ubuntu';	
}

.icon {
  padding-right: 10px;
}

.cursor {
  color: #cc0a0a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Page CSS */
.container-fluid {
  background: #101111;
  height: 100%;
}

#skill-chart {
  transition: 0.3s ease-in-out;
}

#project-container {
  padding-right: 125px;
}

#contact-container {
  padding-right: 125px;
}

#contact-content {
  padding-right: 100px;
}

.error-input {
  border-bottom: 3px solid #cc0a0a !important;
}

#modal-body {
  background-color: #101111;
  min-width: 500px;
  min-height: 82px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 100px #292929 inset !important;
  transition: 0s;
}

@media screen and (max-width: 1055px) {
  #contact-content {
    padding-right: 20px;
  }
}

@media screen and (max-width: 576px) {
  #chart-container {
    display: none;
  }

  #project-container {
    padding-right: 20px;
  }

  #contact-container {
    padding-right: 20px;
  }

}
/* 
@media screen and (max-width: 382px) {

} */